body {
  color: #4c5154;
  word-wrap: break-word;
  font: normal 80%/1.5 "montserratregular";
}

body.structure { width: 650px; }
body.perso { width: 900px; }

a              { color: #bf3a8d; text-decoration: none; }
a:hover        { color: #bf3a8d!important; text-decoration: underline; }

span.author a  { color: #4c5154; }
span.author i  { cursor: help; }

span.article a { color: #bf3a8d; font-weight: bold; }
span.article a:before { content: "\""}
span.article a:after { content: "\""}


span.doi a      { color: #4c5154; font: 80%/1.5 "courier" }
span.doi:before { content: "<"; font: 80%/1.5 "courier"}
span.doi:after  { content: ">"; font: 80%/1.5 "courier"}

span.journal   { color: #4c5154; font-style: oblique;}

ul {
    list-style: none inside none;
    padding-left: 2em;
    text-indent: -2em;
}

li {
  margin-bottom: 5px;
  line-height: 1.5
}

h4 {
  /* font: lighter 1.063em "montserratregular"; */
  margin: 1.176em 0 0.750em 0
}
